/External

/MonaBase/tmp

/MonaCore/tmp

tmp

Debug
/LuaJIT-2.0.3
/MonaCore/lib

/MonaBase/lib

/MonaServer/MonaServer.vcxproj.user

/Mona.v12.suo
/Mona.opensdf
/Mona.sdf
/Mona.VC.db
/MonaBase/MonaBase.vcxproj.user
/MonaBase/MonaBase.creator
/MonaBase/MonaBase.creator.user
/MonaBase/MonaBase.files

/MonaServer/release

/UnitTests/UnitTests
/UnitTests/UnitTests.vcxproj.filters
/UnitTests/UnitTests.vcxproj.user
/UnitTests/UnitTests.creator
/UnitTests/UnitTests.creator.user
/UnitTests/UnitTests.files

/UnitTests/Release

/MonaCore/MonaCore.config
/MonaCore/MonaCore.creator
/MonaCore/MonaCore.creator.user
/MonaCore/MonaCore.files
/MonaCore/MonaCore.includes

/MonaServer/MonaServer
/MonaServer/MonaServer.config
/MonaServer/MonaServer.creator
/MonaServer/MonaServer.creator.user*
/MonaServer/MonaServer.files
/MonaServer/MonaServer.includes
_build
/MonaServer/data
logs
/MonaServer/www
html-template
/MonaServer/tmp64
/UnitTests/tmp64
/MonaCore/tmp64
/MonaBase/tmp64
