/External

/MonaBase/tmp

/MonaCore/tmp

tmp

Debug

/MonaCore/lib

/MonaBase/lib

/MonaServer/MonaServer.vcxproj.user

/Mona.v12.suo
/Mona.opensdf
/Mona.sdf

/MonaBase/MonaBase.vcxproj.user

/MonaServer/release

/UnitTests/UnitTests.vcxproj.filters
/UnitTests/UnitTests.vcxproj.user

/UnitTests/Release
