/* Overrides css styles for MonaServer. */
.navbar-version {
  visibility: hidden;
}

.navbar {
  height: 80px;
  margin-bottom: 40px;
}

.navbar-brand {
  margin-top: 18px;
  font-size: 30px;
}

.navbar-form {
  margin-top: 18px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

body {
  padding-top: 80px;
  /*background-color: #222;*/
}

/*#content {
  background-color: #108A93;
}*/

.footer {
  background: none repeat scroll 0% 0% #FFF;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  display: inline;
  zoom: 1;
}
