/* Unused samples for overrides example. */
.navbar-version {
  visibility: hidden;
}

.navbar {
  height: 80px;
  margin-bottom: 40px;
}

.navbar-brand {
  margin-top: 18px;
  font-size: 30px;
}

.navbar-form {
  margin-top: 18px;
}

body {
  padding-top: 80px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  display: inline;
  zoom: 1;
}
